extends layout

block content
  .container
    .image
      img(src="/dist/img/burger2_smaller.png", alt="burger")
    .form
      textarea#newBurger(name="newBurger", cols="25", rows="2")
      br
      input#addBurger(type="submit", value="Add Burger")
    .eatme
      h3 Burger's Up !
      ul.burger-list
        each burger in burgers
          if !burger.devoured
            li=`${burger.id} ${burger.burger_name} `
              button#devour(data-id=`${burger.id}`, name="devourBurger")= "Eat burger?"
    .yummy
      h3 Burger's Eaten !
      ul.burger-eaten
        each burger in burgers
          if burger.devoured
            li= `Eaten: ${burger.burger_name} `
              button#delete(data-id=`${burger.id}`, name="delete")= "Delete"

      

    
          